@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #3b4664
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculatorContainer {
  height: 75%;
  width: 25rem;
}

header {
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.7rem;
}

.switchLabel{
  position: absolute;
  top: 3%;
  right: .1rem;
  width: 3.3rem;
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
}

.themeSwitch {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7rem;
}

.slider {
  position: relative;
  height: 1.5rem;
  width: 3.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider > button {
  width: .8rem;
  height: .8rem;
  background: none;
  border: none;
}

.slider > button:hover {
  cursor: pointer;
}

.sliderSwitch {
  position: absolute;
  left: 0rem;
  bottom: 0.3rem;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
}



.display {
  height: 16%;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  font-size: 3rem;
  border-radius: .5rem;
}



.keyPad {
  height: 70%;
  width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
      'btn7 btn8 btn9 del'
      'btn4 btn5 btn6 plus'
      'btn1 btn2 btn3 minus'
      'dot btn0 divide times'
      'reset reset equals equals';
  grid-gap: .5rem;
  border-radius: .5rem;
}

.keyPad > div {
  height: 75%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: .7rem;
}

.keyPad > button {
  height: 75%;
  width: 95%;
  font-size: 2rem;
  background: none;
  border: none;
  border-radius: .7rem;
}

.keyPad > button:hover, .keyPad > div:hover{
  cursor: pointer;
  opacity: .7;
  transition: .3s;
}

.attribution {
  font-size: .7rem;
  color: lightgray
}

.attribution > a {
  color: gray;
}

#btn0 {
  grid-area: btn0;
}
#btn1 {
  grid-area: btn1;
}
#btn2 {
  grid-area: btn2;
}
#btn3 {
  grid-area: btn3;
}
#btn4 {
  grid-area: btn4;
}
#btn5 {
  grid-area: btn5;
}
#btn6 {
  grid-area: btn6;
}
#btn7 {
  grid-area: btn7;
}
#btn8 {
  grid-area: btn8;
}
#btn9 {
  grid-area: btn9;
}
#dot {
  grid-area: dot;
}
#plus {
  grid-area: plus;
}
#minus {
  grid-area: minus;
}
#divide {
  grid-area: divide;
}
#times {
  grid-area: times;
}
#del {
  grid-area: del;
}
#reset {
  grid-area: reset;
}
#equals {
  grid-area: equals;
}





@media screen and (max-width: 500px) {
  .main {
    height: 100vh;
    width: 100vh;
  }
  .calculatorContainer{
    height: 95%;
    width: 95%;
  }
  .keyPad > button:hover, .keyPad > div:hover{
    cursor: pointer;
    opacity: 1;

  }
}
